<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <style>
        .ace_editor {
            height: 500px;
        }
    </style>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="../../lib/materialize/dist/css/materialize.min.css" rel="stylesheet" />
    <link href="../../lib/!customs/jquery.nestable/nestable.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body ng-app="parserApp" ng-controller="ctrl">
    <div class="container">
        <div class="row">
            <div class="col s6">
                <div ui-ace="aceOptionSource" ng-model="sqlScript"></div>
            </div>

            <div class="col s6">
                <div ui-ace="aceOptionTemplate" ng-model="template"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div ui-ace="aceOptionOutput" ng-model="output"></div>
            </div>
        </div>
    </div>


    <script src="../../lib/jquery/dist/jquery.min.js"></script>

    <script src="../../lib/materialize/dist/js/materialize.min.js"></script>

    <script src="../../lib/angular/angular.min.js"></script>
    <script src="../../lib/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="../../lib/angular-ui-ace/ui-ace.js"></script>

    <script src="../../lib/doT/doT.min.js"></script>
    <script src="../../lib/naming-convention/js/naming-convention.js"></script>
    
    <script src="../../lib/linqjs/linq.min.js"></script>
    <script src="../base.js"></script>
    <script src="../sql.ansi.parser.js"></script>
    <!--<script src="../../dist/sql.ansi.parser.bundle.js"></script>-->

    <script src="index-templating.js"></script>


    <div id="sampleSource" style="display:none; visibility:hidden">
        USE [MySQLDatabase]
        GO
        /****** Object:  Table [dbo].[Corri]    Script Date: 25/04/2014 12:26:13 ******/1
        SET ANSI_NULLS ON
        GO
        SET QUOTED_IDENTIFIER ON
        GO
        SET ANSI_PADDING ON
        GO
        CREATE TABLE [dbo].[Corri](
        [id] [int] IDENTITY(1,1) NOT NULL,
        [dCorri] [datetime] NOT NULL,
        [idOrdServc] [int] NULL,
        [idIncid] [int] NULL,
        [idSttus] [int] NULL,
        [dExcl] [datetime] NULL,
        [vFrte] [decimal](10, 2) NULL,
        [vEspra] [decimal](10, 2) NULL,
        [vCanct] [decimal](10, 2) NULL,
        [qHrEspra] [int] NULL,
        [vFrteFtrdo] [decimal](10, 2) NULL,
        [vEspraFtrdo] [decimal](10, 2) NULL,
        [vPdgioFtrdo] [decimal](10, 2) NULL,
        [vCanctFtrdo] [decimal](10, 2) NULL,
        [vPercFtrdo] [decimal](7, 2) NULL,
        [tpRgiao] [char](1) NULL,
        [dProcmPnlhaCobr] [datetime] NULL,
        [indcdProcmFchdo] [bit] NULL,
        [idOrige] [int] NULL,
        [idDstno] [int] NULL,
        CONSTRAINT [PK_Corrida] PRIMARY KEY CLUSTERED
        (
        [id] ASC
        )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
        ) ON [PRIMARY]

        GO
        SET ANSI_PADDING OFF
        GO
        /****** Object:  Table [dbo].[CorriPsgro]    Script Date: 25/04/2014 12:26:13 ******/
        SET ANSI_NULLS ON
        GO
        SET QUOTED_IDENTIFIER ON
        GO
        CREATE TABLE [dbo].[CorriPsgro](
        [id] [int] IDENTITY(1,1) NOT NULL,
        [idCorri] [int] NOT NULL,
        [idSoltcAgendaPsgro] [int] NOT NULL,
        [dExcl] [datetime] NULL,
        CONSTRAINT [PK_CorridaPassageiro] PRIMARY KEY CLUSTERED
        (
        [id] ASC
        )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
        ) ON [PRIMARY]

        GO
        /****** Object:  Table [dbo].[DSTN]    Script Date: 25/04/2014 12:26:13 ******/
        SET ANSI_NULLS ON
        GO
        SET QUOTED_IDENTIFIER ON
        GO
        SET ANSI_PADDING ON
        GO
        CREATE TABLE [dbo].[DSTN](
        [CODIGO] [varchar](50) NULL,
        [LOCAL] [varchar](250) NULL,
        [ITINERARIO] [varchar](50) NULL,
        [IDA] [varchar](50) NULL,
        [IDAEVOLTA] [varchar](50) NULL,
        [LETRA] [varchar](50) NULL,
        [IDA2] [varchar](50) NULL,
        [IDAEVOLTA2] [varchar](50) NULL
        ) ON [PRIMARY]

    </div>
    <div id="sampleTemplate" style="display:none; visibility:hidden">
    </div>
</body>
</html>
